
$basic-font: 'Roboto',
sans-serif;
$basic-color: #818181;

.basic-class{
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: poppins-med;
    src: url("../Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: poppins-lig;
    src: url("../Poppins/Poppins-Light.ttf");
}
  
.navbar-toggler{
    border: none !important;
    .navbar-toggler-icon{
        background-image: url('../images/menu.svg') !important;
    }
}


body {
    .container-fluid {
        padding: 0px;
    }
}

.header{
    .navbar-nav {
        margin-left: auto;
        padding: 0;
    }
}

.nav-link {
    font-family: $basic-font;
    font-weight: 700;
    font-size: .9rem;

    align-items: center;
}

.home-banner {
    align-items: center;
    justify-content: center;
}

.grey{
    background-color: #e3e7f1;
}

.product-banner{
    align-items: flex-start;
    justify-content: space-between;
}

.main-wrap{
    background-color: #f7f7f7;
}

.main-text {
    font-size: 2.5rem;
    font-family: $basic-font;
}

.list-block{
    .list-group-item.active{
        background-color: #F0A202;

        border-color: #ffffff ;
    }
}

.article-heading, .article-body {
    font-size: 1.5rem;
    font-family: $basic-font;
    font-weight: 700;
}

.article-body{
    font-weight: 400;
    font-size: 1rem;
    
    color: #7a7c7f;
}

.button-group, .tab-pane {
    justify-content: space-between;

    .btn-chip {
        background: #8186d5;
        border-radius: 2px;
        color: whitesmoke;
    }

    .btn-chip-bordered{
        border: 2px solid #8186d5;
        border-radius: 2px;
    }

    .btn-chip:hover{
        background: #494ca2;
        color: white;
    }

    .btn-chip-bordered:hover{
        background: #494ca2;
        border: 2px solid #494ca2;
        color: white;
    }
}

.button-group{
    .spacing{
        padding: 12px 24px;
    }
}

.tab-pane{
    .spacing{
        margin-top: 3rem;
        padding: 0;
    }
}

.button-group{
    margin-top: 2rem;
}

.list-block,
    .article {
        margin: 3rem 0;
    }

.btn-size{
    margin: .5rem 0;
}

.info-image{
    max-width: 100%;
}

.network{
    img{
        max-width: 100%;
        height: auto;
    }
}

.sub-text{
    font-size: 1.15rem;
    font-family: $basic-font;
    color: #818181;
}

.uline{
    margin-top: -2rem;
}

.ulined-heading{
    border-left: 10px solid #F0A202;
    padding-left: 1.5rem;
}

.main-header{
    font-family: $basic-font;
}

.info-text{
    font-size: 1.15rem;
    font-family: $basic-font;
    font-weight: 400;
    color: $basic-color;
    line-height: 2rem;
}

.who-are-we{
    margin: 5rem 0;
}

.std-img{
    max-width: 100%;
    height: auto;
}

.who-are-we-content, .network-content{
    align-items: start;
    justify-content: center;
    padding: 3rem 0;
}

.c-btn{
    padding: 0 !important;
    border: none;
    outline: none;
    transition: all 0.2s ease;
}

.c-btn:hover{
    cursor: pointer;
    transform: translateY(-4px);
    border-radius: 2px;
    box-shadow: 0px 5px 10px 1px #cccccc;
}

.prods-content{
    padding: 3rem 0;
}

.card-img-overlay-custom{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.std-mar{
    margin: 6rem 0;
}

.std-pad{
    padding: 6rem 0;
}

.present-header{
    background: #F0A202;
    padding: .5rem 1rem;
    color: white;
    border-radius: 2px;
}

.urow{
    flex-flow: column;
    align-items: start;
    justify-content: center;
}

.font_poppins{
    font-family: poppins-med;
    letter-spacing: 1.5px;
    line-height: .9;
}

.card{
    .card-img{
        border-radius: 2px;
    }

    .card-img:hover, .c-btn:hover{
        filter: brightness(70%);
    }
    border: none !important;
}

.card:hover{
    border-radius: 2px !important;
}



@media (min-width: 1025px){
    .image {
        max-width: 50%;
        height: auto;

        margin: 2rem 0;
    }

    .btn-size{
        margin-right: .5rem;
    }

    .home-banner{
        height: 30vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .image {
        max-width: 50%;
        height: auto;
        margin: 2rem 0;
    }

    .home-banner{
        padding: 6rem 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .tab-pane {
        margin: 3rem 1rem;
    }

    .image {
        max-width: 100%;
        height: auto;

        margin: 1.5rem 0;
    }
    .product-banner{
        .article{
            margin: 0px;
            padding: 0px;
        }
    }

    .home-banner{
        padding: 6rem 0;
    }
}
/*.carousel-wrap {
    margin: 90px auto;
    padding: 0 5%;
    width: 80%;
    position: relative;
  }
  
  
  .owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
  }
  
  
  .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }
  
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    left: -30px;
  }
  
  .owl-nav .owl-next {
    right: -30px;
  }*/

  /*.custom-card {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 22em;
    max-width: 80%;
    padding: 2em 0;
    background: #FFF;
    box-shadow: 0 0 6px 0 rgba(#202024, .12);
    transition: all .35s ease;
    
    &::before, &::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      background: #000;
      height: 4px;
    }
    
    &::before {
      width: 0;
      opacity: 0;
      transition: opacity 0 ease, width 0 ease;
      transition-delay: .5s;
    }
    
    &::after {
      width: 100%;
      background: white;
      transition: width .5s ease;
    }
    
    .content {
      width: 18em;
      max-width: 80%;
    }
    
    .logo {
      margin: 0 0 1em;
      width: 10.625em;
      transition: all .35s ease;
    }
    
    h6 {
      color: #999;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0;
      letter-spacing: 2px;
    }
    
    .hover_content {
      overflow: hidden;
      max-height: 0;
      transform: translateY(1em);
      transition: all .55s ease;
      
      p {
        margin: 1.5em 0 0;
        color: #6E6E70;
        line-height: 1.4em;
      }
    }
    
    &:hover {
      width: 24em;
      box-shadow: 0 10px 20px 0 rgba(#202024, .12);
      
      &::before {
        width: 100%;
        opacity: 1;
        transition: opacity .5s ease, width .5s ease;
        transition-delay: 0;
      }
      
      &::after {
        width: 0;
        opacity: 0;
        transition: width 0 ease;
      }
      
      .logo {
        margin-bottom: .5em;
      }
      
      .hover_content {
        max-height: 10em;
        transform: none;
      }
    }
  }*/

  .footers a {color:white;}
.footers p {color:white;}
.footers ul {line-height:30px;}
#social-fb:hover {
     color: #3B5998;
     transition:all .001s;
 }
 #social-tw:hover {
     color: #4099FF;
     transition:all .001s;
 }
 #social-gp:hover {
     color: #d34836;
     transition:all .001s;
 }
 #social-em:hover {
     color: #f39c12;
     transition:all .001s;
 }

 .chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f0a202;
  }