@import "main.css";

.product-banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.short-image{
    border-radius: 2px;
}

@media (min-width: 1281px) {

    .short-image:nth-of-type(2){
        margin-left: 1rem;
    }

    .home-banner{
        height: 40vh;
    }

    .short-image{
        max-width: 40%;
    }

}

@media (min-width: 1025px){
  
    .short-image:nth-of-type(2){
        margin-left: 1rem;
    }

    .short-image{
        max-width: 40%;
    }

  }
  
@media (min-width: 768px) and (max-width: 1024px) {

    .short-image{
        max-width: 60%;
    }
 
  }

@media (min-width: 320px) and (max-width: 767px) {

    .short-image{
        max-width: 100%;
    }

}